.title {
    display: inline-block;
    
  } 


  .title:hover {
    transition-duration: 2s;
    transform: rotatex(-360deg);
  }


  
  .mint {
    display: inline-block;
    transition-duration: 2s;
    transition-delay: 3s;
  }
 

  .mint:hover {
    transform: rotatez(-360deg);
  }

  .personal-site {
    text-decoration: underline;
    display: inline-block;
    transition-duration: 1s;
  }
  .personal-site:hover {
    transform: rotatex(360deg);
  }

  .shadow {
    box-shadow: 1px 1px 5px grey;

  }



  .shadow:hover {
      box-shadow: 5px 5px 5px grey;
      transform: translate(-2px, -2px);
  }




