.title {
    display: inline-block;
    cursor: grab;
  } 


  .title:hover {
    transition-duration: 2s;
    transform: rotatex(-360deg);
  }


  
  .mint {
    display: inline-block;
    transition-duration: 2s;
    transition-delay: 3s;
  }


  .mint:hover {
    transform: rotatez(-360deg);
  }




